.button {
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(80, 75, 75, 0.24);
}

/*.yearSelect {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    padding: 14px;
    font-size: 16px;
    margin-left: 20px;
}
  
/* Dropdown Content (Hidden by Default) */
/*.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
/*.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
/*.dropdown-content a:hover {background-color: #ddd;}
  
/* Show the dropdown menu on hover */
/*.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/

.overallline {
    fill: none;
    stroke: steelblue;
    stroke-width: 3;
}

.gasline {
    fill: none;
    stroke: red;
    stroke-width: 2.5;
}

.electricline {
    fill: none;
    stroke: blue;
    stroke-width: 2.5;
}

.pluginline {
    fill: none;
    stroke: purple;
    stroke-width: 2.5;
}

.fuelcellline {
    fill: none;
    stroke: green;
    stroke-width: 2.5;
}

.xaxis {
    font-size: 14px;
}

.yaxis {
    font-size: 14px;
}

.xlabel {
    fill: black;
    font-size: 14px;
}

.ylabel {
    fill: black;
    font-size: 14px;
}

.title {
    fill: black;
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
}

.legendtext {
    font-size: 14px
}

.annotationline {
    stroke-width: 1;
    stroke: black;
}

.annotationtext {
    fill: black;
    font-size: 10px;
}

/*.data-tooltip{*/
.tooltip {
    color: black;
    background-color: white;
    background: white;
    align-content: center;
    margin-right: 10%;
    margin-left: 10%;
  }
  
.tooltip.show {
    opacity: 1;
    background-color: white;
    border: green;
  }