/*path {stroke: red;}*/
.button {
    /*border: 2px solid rgba(255, 255, 255, 0.055);
    color: rgba(255, 255, 255, 0.055);
    background-color: rgb(255, 0, 0);*/
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.055);
    /*color: white;*/
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 3;
}

.gasline {
    fill: none;
    stroke: red;
    stroke-width: 2.5;
}

.electricline {
    fill: none;
    stroke: blue;
    stroke-width: 2.5;
}

.pluginline {
    fill: none;
    stroke: purple;
    stroke-width: 2.5;
}

.fuelcellline {
    fill: none;
    stroke: green;
    stroke-width: 2.5;
}

.xaxis {
    font-size: 14px;
}

.yaxis {
    font-size: 14px;
}

.xlabel {
    fill: black;
    font-size: 14px;
}

.ylabel {
    fill: black;
    font-size: 14px;
}