.title {
    fill: black;
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
}

.button {
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(80, 75, 75, 0.24);
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 14px;
    font-size: 16px;
    margin-left: 50px;
}
  
.xaxis {
    font-size: 14px;
}

.yaxis {
    font-size: 14px;
}

.xlabel {
    fill: black;
    font-size: 14px;
}

.ylabel {
    fill: black;
    font-size: 14px;
}

.legendtext {
    font-size: 14px
}

.overallline {
    fill: none;
    stroke: steelblue;
    stroke-width: 3;
}

.gasline {
    fill: none;
    stroke: red;
    stroke-width: 2.5;
}

.electricline {
    fill: none;
    stroke: blue;
    stroke-width: 2.5;
}

.pluginline {
    fill: none;
    stroke: purple;
    stroke-width: 2.5;
}

.fuelcellline {
    fill: none;
    stroke: green;
    stroke-width: 2.5;
}

.annotationline {
    stroke-width: 1;
    stroke: black;
}

.annotationtext {
    fill: black;
    font-size: 10px;
}

.tooltip {
    color: black;
    background-color: white;
    background: white;
    position:relative;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
}